In [2]:
import duckdb
import json
import geopandas as gpd
import pandas as pd
from shapely.geometry import LineString, LinearRing

In [2]:
def initialise_duckdb_spatial():
    conn = duckdb.connect()
    c = conn.cursor()

    c.execute(
        """INSTALL spatial; 
            INSTALL httpfs;
            INSTALL parquet;
        """
    )
    c.execute(
        """LOAD spatial;
        LOAD parquet;
        SET s3_region='us-west-2';
        """
    )
    return c

In [3]:
pth = r'E:\theme=transportation\type=segment\part-00232-8d133ca6-6cbd-48b8-87d5-a0850a2ba489.c003.zstd.parquet'
gdf = gpd.read_parquet(pth)

gdf[0:2]

,id,geometry,bbox,subType,localityType,names,contextId,adminLevel,isoCountryCodeAlpha2,isoSubCountryCode,...,socials,emails,phones,brand,addresses,sourceTags,wikidata,surface,isSalt,isIntermittent
0,8a2e712b282ffff-17DFF24660C0674B,"LINESTRING (136.87391 37.21506, 136.87418 37.2...","{'minx': 136.8739104, 'maxx': 136.8741804, 'mi...",road,None,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None
1,882e7174d3fffff-13FF4449D72183C2,"LINESTRING (136.87957 37.23146, 136.88032 37.2...","{'minx': 136.879572, 'maxx': 136.8833539, 'min...",road,None,None,None,NaN,None,None,...,None,None,None,None,None,None,None,None,None,None

In [49]:
pth = r'C:\Users\penny\git\Aequilibrae\tests\data\overture\theme=transportation\type=segment\transportation_data_segment.parquet'
df = pd.read_parquet(pth)
geo = gpd.GeoSeries.from_wkb(df.geometry, crs=4326)
gdf = gpd.GeoDataFrame(df,geometry=geo)
gdf['speed'] = gdf['speed'].apply(lambda x: json.loads(x)[0] if x else None)

gdf.to_parquet(r'C:\Users\penny\git\Aequilibrae\tests\data\overture\theme=transportation\type=segment\transportation_data_segment_airlie_beach.parquet')
type(gdf['speed'][1])

numpy.float64

In [46]:
# gdf['speed'] = 
gdf['speed'].apply(lambda x: json.loads(x)[0] if x else None)

0       NaN
1      70.0
2       NaN
3      50.0
4       NaN
       ...
276     NaN
277     NaN
278    40.0
279    50.0
280    70.0
Name: speed, Length: 281, dtype: float64

In [48]:
gdf

,id,bbox,a_node,b_node,link_type,speed,geometry
0,8b9d0e12872dfff-167FE27DAE6F0272,"{'maxx': 148.7165748, 'maxy': -20.2730078, 'mi...",8f9d0e12872d085-167FE2B34902B148,8f9d0e12872d292-167EE24C8AA265F0,secondary,NaN,"LINESTRING (148.71657 -20.27307, 148.71651 -20..."
1,8b9d0e128cd9fff-163FF6797FC40661,"{'maxx': 148.7247078, 'maxy': -20.2747175, 'mi...",8f9d0e128cd9709-167FF64A37F1BFFB,8f9d0e128cd98d6-15FFF68E65613FDF,secondary,70.0,"LINESTRING (148.72460 -20.27472, 148.72465 -20..."
2,8a9d0e1284effff-17BFEE367410456E,"{'maxx': 148.7216872, 'maxy': -20.269086, 'min...",8f9d0e1284ec01d-17BFFF2E889165D3,8f9d0e1284ec0eb-17BFEF097DAAE5D1,unknown,NaN,"LINESTRING (148.72169 -20.26929, 148.72163 -20..."
3,889d0e1287fffff-147FF893549FBF23,"{'maxx': 148.7193104, 'maxy': -20.270149, 'min...",8f9d0e1287a434a-157EE961030FB970,8f9d0e12871415a-173FE7D6F5926937,secondary,50.0,"LINESTRING (148.71931 -20.27015, 148.71924 -20..."
4,869d0e12fffffff-167FF1BC7BC46279,"{'maxx': 148.7228411, 'maxy': -20.2662583, 'mi...",8f9d0e12ab2d0b3-16FEF0F6D47F3E2F,8f9d0e1284d3910-157EF1FC540A0515,unknown,NaN,"LINESTRING (148.72242 -20.26626, 148.72276 -20..."
...,...,...,...,...,...,...,...
276,899d0e12867ffff-15BEF645DFC7D25C,"{'maxx': 148.7122258, 'maxy': -20.269956, 'min...",8f9d0e128646b30-15BFF8152AF1551F,8f9d0e12866a2c9-14FFD4B13E67A6AF,unknown,NaN,"LINESTRING (148.71223 -20.27006, 148.71161 -20..."
277,889d0e1285fffff-177EEF26B077B75F,"{'maxx': 148.7218181, 'maxy': -20.268822, 'min...",8f9d0e1284ee0c5-14BEEF805C9D97A7,8f9d0e1284eeb00-143FEF7119103FFD,residential,NaN,"LINESTRING (148.72182 -20.26882, 148.72181 -20..."
278,869d0e12fffffff-15FFD939CAC49013,"{'maxx': 148.7132732, 'maxy': -20.2644693, 'mi...",8f9d0e12bd2bd89-177EFA66EE6BBDE5,8f9d0e12bd2869c-173FDA8ACA23C819,residential,40.0,"LINESTRING (148.71318 -20.26447, 148.71323 -20..."
279,869d0e12fffffff-14FEFD6B3C7AEF26,"{'maxx': 148.7145647, 'maxy': -20.2646887, 'mi...",8f9d0e12bd22a6a-16FFDDCAF35E7631,8f9d0e1286d694d-177FFD1D35C31328,residential,50.0,"LINESTRING (148.71456 -20.26469, 148.71429 -20..."
280,889d0e1285fffff-163EF5CEB5006F3F,"{'maxx': 148.7245302, 'maxy': -20.2746973, 'mi...",8f9d0e12856450c-163EF592716BEB4D,8f9d0e128cd9662-167EF61F6866D214,secondary,70.0,"LINESTRING (148.72430 -20.27484, 148.72433 -20..."

In [4]:
from shapely.geometry import LineString, LinearRing


def segments(curve):
    return list(map(LineString, zip(curve.coords[:-1], curve.coords[1:])))


line = LineString([(0, 0), (1, 1), (2, 2)])
ring = LinearRing([(0, 0), (1, 0), (1, 1), (0, 1)])

line_segments = segments(line)
for segment in line_segments:
    print(segment)
# LINESTRING (0 0, 1 1)
# LINESTRING (1 1, 2 2)

ring_segments = segments(ring)
for segment in ring_segments:
    print(segment)
# LINESTRING (0 0, 1 0)
# LINESTRING (1 0, 1 1)
# LINESTRING (1 1, 0 1)
# LINESTRING (0 1, 0 0)

LINESTRING (0 0, 1 1)
LINESTRING (1 1, 2 2)
LINESTRING (0 0, 1 0)
LINESTRING (1 0, 1 1)
LINESTRING (1 1, 0 1)
LINESTRING (0 1, 0 0)

In [6]:
LineString(148 -20)

TypeError: 'int' object is not iterable

In [9]:
import pandas as pd

# Example DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Function to process each row and create a new DataFrame
def process_row(row):
    name = row['Name']
    age = row['Age']
    city = row['City']

    # Your processing logic here
    # For example, create a new DataFrame with processed data
    processed_data = {'Name': [name], 'Age': [age * 2], 'City': [city.upper()]}
    processed_df = pd.DataFrame(processed_data)

    return processed_df

# Iterate over rows using iterrows()
result_dfs = []
for index, row in df.iterrows():
    processed_df = process_row(row)
    result_dfs.append(processed_df)

# Concatenate the resulting DataFrames into a final DataFrame
final_result = pd.concat(result_dfs, ignore_index=True)

# Display the final result
print(final_result)

      Name  Age           City
0    Alice   50       NEW YORK
1      Bob   60  SAN FRANCISCO
2  Charlie   70    LOS ANGELES

In [10]:
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [11]:
final_result

      Name  Age           City
0    Alice   50       NEW YORK
1      Bob   60  SAN FRANCISCO
2  Charlie   70    LOS ANGELES

In [14]:
result_dfs[1]

  Name  Age           City
0  Bob   60  SAN FRANCISCO

In [1]:
import pandas as pd
import numpy as np

# Example DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles'],
        'Connectors': [[1, 2, 3], [4, 5, 6], [7, 8, 9]]}

df = pd.DataFrame(data)

# Function to process each row and create a new DataFrame
def process_row(row):
    name = row['Name']
    age = row['Age']
    city = row['City']
    connectors = row['Connectors']

    # Check if 'Connectors' has more than 2 elements
    if np.size(connectors) > 2:
        # Split the DataFrame into multiple rows
        rows = []
        for i in range(len(connectors) - 1):
            new_row = {'Name': name, 'Age': age, 'City': city, 'a_node': connectors[i], 'b_node': connectors[i + 1]}
            rows.append(new_row)
        processed_df = pd.DataFrame(rows)
    else:
        # For cases where 'Connectors' has 2 or fewer elements
        processed_df = pd.DataFrame({'Name': [name], 'Age': [age], 'City': [city], 'a_node': connectors[0], 'b_node': connectors[-1]})

    return processed_df

# Iterate over rows using iterrows()
result_dfs = []
for index, row in df.iterrows():
    processed_df = process_row(row)
    result_dfs.append(processed_df)

# Concatenate the resulting DataFrames into a final DataFrame
final_result = pd.concat(result_dfs, ignore_index=True)

# Display the final result
print(final_result)

      Name  Age           City  a_node  b_node
0    Alice   25       New York       1       2
1    Alice   25       New York       2       3
2      Bob   30  San Francisco       4       5
3      Bob   30  San Francisco       5       6
4  Charlie   35    Los Angeles       7       8
5  Charlie   35    Los Angeles       8       9